* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 62.5%;
}

body{
    background: linear-gradient(to top, black, #a7a7a7);
    height: 100svh;
    font-size: 1.6rem;
    color: white;
}


  div.titulo {
    margin-top: 50rem;
    width: 120rem;
    height: 70rem;
    margin-inline: auto;
    text-align: center;
    border-radius: 2.4rem;
    padding: 1.5rem;
    margin-block: 1.5rem;
}


header{
    margin-top: 1.7rem;
    background-color: black;
    max-width: 1220px;
    width: 900px; 
    height: 105px;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);


    position: fixed;
    left: 50%;
    transform: translateX(-50%);


    a {
        color: aliceblue;
        text-decoration: none;
        font-size: 2rem;
        
    }

}

.Home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100svh - 10.5rem);
}

footer {
    color: white;
    text-align: center;
    padding-top: 2rem;
  }


  h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 4.7rem;
        padding-top: 13rem;
  }


.cadastro-container {
    background: linear-gradient(#6a0000, #350000);
    width: 50rem;
    padding: 4rem;
    border-radius: 2.5rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    margin-left: 33rem;
    
}

.cadastro-container h1 {
    color: white;
    margin-bottom: 2rem;
    font-family: sans-serif;
}

.cadastro-container form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
   
}

.cadastro-container input {
    padding: 1.5rem;
    border-radius: 1.2rem;
    border: none;
    width: 100%;
    font-size: 1.5rem;
   
}

.cadastro-container button {
    padding: 1.2rem;
    border-radius: 1.2rem;
    border: none;
    background: white;
    font-size: 1.8rem;
    cursor: pointer;
    width: 100%;
}