* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 62.5%;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    
}

body{
    background: linear-gradient(to top, black, #a7a7a7);
    height: 100svh;
    font-size: 1.6rem;
}
header{
    margin-top: 1.7rem;
    background-color: black;
    max-width: 1220px;
    width: 900px; 
    height: 105px;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}
    a {
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
        
    }

  .home {
    background-color: #5a0505;
    max-width: 112rem;
    height: 80rem;
    margin-inline: auto;
    text-align: center;
    border-radius: 2.4rem;
    padding: 1.5rem;
    margin-block: 1.5rem;
}


h1 , p {
    color: #Fff;
}

h1 {
    font-size: 3.2rem;
}

p {
    font-size: 1.7rem;
    padding-top: 2rem;
    display: flex;
    
}
img {
    padding-top: 2rem;
    width: 35rem;
    height: 23rem;
    display: inline-block;
    padding-inline: 2rem;

} 

.fish {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    line-height: 2.5rem;
}


.shepherd {
    display: flex;
    flex-direction: column;
    max-width: 35rem;
    line-height: 2.5rem;

}

.stick {
     flex-direction: column;
     display: flex;
     max-width: 33rem;
}

p {
    max-width: 60rem;
    display: flex;


}
section {
    display: flex;
    flex-direction: row;
}

.ordem {
    display: flex;
    flex-direction: row;
}
footer {
    color: #Fff;
}