* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 62.5%;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
}
header{
    margin-top: 1.7rem;
    background-color: black;
    max-width: 1220px;
    width: 900px; 
    height: 105px;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);

    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}


    a {
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
        
    }

  div {
    background-color: #5a0505;
    max-width: 73.6rem;
    height: 88rem;
    margin-inline: auto;
    text-align: center;
    border-radius: 2.4rem;
    padding: 1.5rem;
    margin-block: 1.5rem;
}

body{
    background: linear-gradient(to top, black, #a7a7a7);
    text-align: center;
    height: 100svh;
    font-size: 1.6rem;
    background-attachment: fixed;
}

h1, h2, p {
    color: aliceblue;
}

h1 {
    font-size: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-top: 13rem;
} 

h2 {
    font-size: 1.8rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

p {
    padding-top: 1rem;
    font-size: 1.7rem;
    padding-bottom: 3rem;
}

img {
    width: 34.7rem;
    height: 28.4rem;
} 
