* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 62.5%;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    
}

body{
    background: linear-gradient(to top, black, #a7a7a7);
    text-align: center;
    height: 100svh;
    font-size: 1.6rem;
}
header{
    margin-top: 1.7rem;
    background-color: black;
    max-width: 1220px;
    width: 900px; 
    height: 105px;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}
    a {
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
        
    }

  div {
    background-color: #5a0505;
    max-width: 112rem;
    height: 58rem;
    margin-inline: auto;
    text-align: center;
    border-radius: 2.4rem;
    padding: 1.5rem;
    margin-block: 1.5rem;
}

h1 , p {
    color: #Fff;
}

h1 {
    font-size: 3.2rem;
}

p {
    font-size: 1.7rem;
    padding-top: 10rem;
    display: flex;
    margin-inline: auto;
    text-align: center;
    padding: 3rem;
    padding-top: 3rem;
}
img {
    padding-top: 5rem;
    width: 42rem;
    height: 30rem;
    display: inline-block;
    padding-inline: 4rem;

}