* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 62.5%;
}
header{
    margin-top: 1.7rem;
    background-color: black;
    max-width: 1220px;
    width: 900px; 
    height: 105px;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);

    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    a {
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
        
    }

}
body{
    background: linear-gradient(to top, black, #a7a7a7);
    text-align: center;
    height: 145svh;
    font-size: 1.6rem;
}

  div.class {
    margin-top: 50rem;
    background-color: #5a0505;
    width: 100rem;
    height: 112rem;
    margin-inline: auto;
    text-align: center;
    border-radius: 2.4rem;
    padding: 1.5rem;
    margin-block: 1.5rem;
}

  img {
    max-width: 50rem;
    display: flex;
    margin-inline: calc( 20 , 30);
    margin-left: 1.7rem ;
  }
h1 , h2 , p {
    color: #FFf;
} 
h1 {
    font-size: 4rem;
    padding-top: 13rem;
}
p{
        font-size: 1.7rem;

}

.bigban-container{
    flex-direction: row;
    display: flex;
    margin-top: 5rem;
    margin-bottom: 5rem;


}

.palacio-container {
    flex-direction: row;
    display: flex;
    margin-bottom: 5rem;
}

.torre-contaier {
    flex-direction: row;
    display: flex;
}

.baixo {
    display: flex;
    flex-direction: column;

    p{
        max-width: 50rem;
        padding-top: 1rem
    }
    h2 {
        padding-top: 2rem;
    }
}
footer {

    color: #FFf;
}
