* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 62.5%;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    
}

body{
    background: linear-gradient(to top,black, #a7a7a7 );
    text-align: center;
    height: 100svh;
    font-size: 1.6rem;
    background-attachment: fixed;
    
}
header{
    margin-top: 1.7rem;
    background-color: black;
    max-width: 1220px;
    width: 900px; 
    height: 105px;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 1);

    position: fixed;
    left: 50%;
    transform: translateX(-50%);

}
    a {
        color: aliceblue;
        text-decoration: none;
        font-size: 20px;
        
    }

.jogo {
    background-color: #5a0505;
    max-width: 50rem;
    height: 50rem;
    margin-inline: auto;
    text-align: center;
    border-radius: 2.4rem;
    padding: 1.5rem;
    margin-block: 1.5rem;

}
div.questao {
    background-color: black;

    max-width: 25rem;
    height: 7rem;
    border-radius: 7rem;
    display: flex;
    align-items: center;
    margin-inline: auto;
    margin-top: 2rem;
    
    

    label{
        color: #fff;
    }
    input {
        margin: 1rem;
    }
}
h1 {
    padding-top: 13rem ;
    color: #fff;
}
h2 ,h3 {
    color: #fff;
}