* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 62.5%;
}

body{
    background: linear-gradient(to top, black, #a7a7a7);
    text-align: center;
    height: 100svh;
    font-size: 1.6rem;
}
p{
    color: aliceblue;
    font-size: 1.7rem;
}


header{
    margin-top: 1.7rem;
    background-color: black;
    max-width: 1220px;
    width: 900px; 
    height: 105px;
    border-radius: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    gap: 2rem;
    box-shadow: 0px 0.7rem 2rem rgba(0, 1, 1, 1);
 
    a {
        color: aliceblue;
        text-decoration: none;
        font-size: 2rem;
        
    }

}

.Home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100svh - 10.5rem);
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
  }


  h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 4.7rem;

  }
  img {
    border-radius: 1rem;
    max-width: 80rem;
    margin-inline: auto;

  }
  p {
    max-width: 60rem;
    margin-inline: auto;
    line-height: 2.5rem;
  }
